In [7]:
s=0
m=int(input("M="))
n=int(input("N="))
i=m
while(i<=n):
    s+=i
    i+=1
    
print("Sum is :" ,s)

M=3
N=9
Sum is : 42

In [3]:
s=0
n=int(input("N="))
r=0
while(n>0):
    r=n%10
    s+=r
    n=n//10
print("sum of digits:",s)

N=123
sum of digits 6

In [6]:
n=9
n/=7
print(n)

1.2857142857142858

In [11]:
# for a number N,let S be sum of the digit of N,then if S divides N then it is a NIVEN's NUMBER or HARSHED NUMBER
s=0
n=int(input("N="))
m=n
r=0
while(n>0):
    r=n%10
    s+=r
    n=n//10
if(m%s==0):
    print(m,"is a Niven's number")
else:
    print(m,"is not a Niven's number")

N=12
12 is a Niven's number

In [18]:
s=0
n=int(input("N="))
r=0
while(n>0):
    r=n%10
    print(r ,end=" ")
    s=s*10+r
    n=n//10
print("\nReverse of given number",s)

N=123
3 2 1
Reverse of given number 321

In [21]:
n=int(input("N="))
s=str(n)
r="".join(reversed(s))
r1=" ".join(reversed(s))
print(r)
print(r1)

N=123
321
3 2 1

In [23]:
def reverse(n):
    if(len(n)==0):
        return n
    return reverse(n[1:])+n[0]

n=int(input("N="))
s=str(n)
r=reverse(s)
print(r)

N=123
321

In [29]:
n=int(input("N="))
a=0.0
s=0
for i in range(1,n+1):
    s+=i
a=s/i
print("SUM:",s)
print("AVERAGE:",a)

N=10
SUM: 55
AVERAGE: 5.5

In [34]:
n=int(input("N="))
for i in range(1,11):
    print(f"{n} x {i} = {n*i}")

N=5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [83]:
print("leap years")
for i in range(1900,2101):
    if(i%4==0):
        print(i,end="\t")

leap years
1900	1904	1908	1912	1916	1920	1924	1928	1932	1936	1940	1944	1948	1952	1956	1960	1964	1968	1972	1976	1980	1984	1988	1992	1996	2000	2004	2008	2012	2016	2020	2024	2028	2032	2036	2040	2044	2048	2052	2056	2060	2064	2068	2072	2076	2080	2084	2088	2092	2096	2100

In [66]:
n=int(input("N="))
s=0.0
print("sum of the series :", end=" ")
for i in range(1,n):
    a=1.0/(i**2)
    s+=a
    print(f"1/{i*i} + ",end=" ")
s+=1.0/(n**2)
print(f"1/{n*n}",end=" ")
print("= ",s)

N=5
sum of the series : 1/1 +  1/4 +  1/9 +  1/16 +  1/25 =  1.4636111111111112

In [78]:
n=int(input("N="))
s=0.0
print("sum of the series :", end=" ")
for i in range(1,n):
    a=1.0/i
    s+=a
    print(f"1/{i} +",end=" ")
s+=1.0/n
print(f"1/{n}",end=" ")
print("= ",s)

N=7
sum of the series : 1/1 + 1/2 + 1/3 + 1/4 + 1/5 + 1/6 + 1/7 =  2.5928571428571425

In [65]:
print(2**3)

8

In [75]:
print("Hello \nWorld")
print("Hello \t World")

Hello
World
Hello 	 World

In [74]:
st="hi"
print(st.capitalize())

Hi

In [84]:
print(st.center(10,'$'))

$$$$hi$$$$

In [86]:
st="hello"
print(st.center(10,'$'))

$$hello$$$

In [89]:
st="hell"
print(st.center(11,'$'))

$$$$hell$$$

In [101]:
print(str)

ll

In [100]:
str="ll"
substr="hellollllo"
print(substr.count(str,0,len(substr)))

3

In [108]:
str="vamshi is a playboy"
print(str.find(" a ",0,len(str)))

9

In [103]:
#syntax for left justification and right justification
st="hi"
print(st.ljust(20,'^'))
print(st.rjust(20,'^'))

hi^^^^^^^^^^^^^^^^^^
^^^^^^^^^^^^^^^^^^hi

In [114]:
#zfill(width)
st="7"
print("JAMES BOND",st.zfill(3))

JAMES BOND 007

In [113]:
print(max(st))

9

In [116]:
#.title()
print(str.title())

Vamshi Is A Playboy

In [118]:
str=str.title()
print(str.swapcase())

vAMSHI iS a pLAYBOY

In [119]:
print(str)

Vamshi Is A Playboy

In [120]:
print(list(enumerate(str)))

[(0, 'V'), (1, 'a'), (2, 'm'), (3, 's'), (4, 'h'), (5, 'i'), (6, ' '), (7, 'I'), (8, 's'), (9, ' '), (10, 'A'), (11, ' '), (12, 'P'), (13, 'l'), (14, 'a'), (15, 'y'), (16, 'b'), (17, 'o'), (18, 'y')]

In [121]:
print(len(str))

19

In [127]:
st="India has won"
for i in st:
    if(i==" "):
        continue
    else:
        print(i,end=" ")

I n d i a h a s w o n

In [130]:
#caeser cipher
str="India"
i=0
while i<len(str):
    le=str[i]
    print(chr(ord(le)+2),end="")
    i+=1

Kpfkc

In [132]:
st="Kpfkc"
i=0
while i<len(st):
    le=st[i]
    print(chr(ord(le)-2),end="")
    i+=1

India

In [136]:
#to print ascii value - ord(charcter)
le="A"
print(ord(le))

65

In [137]:
#  Abecedarian series
s="ate"
li=["A","B","C","D","E","F"]
for i in li:
    print(i+s)

Aate
Bate
Cate
Date
Eate
Fate

In [4]:
s="10"
b=str(10)
print(s+b)

1010

In [36]:
j,k=0,0
v=int(input("enter the position:"))
l=[]
for i in range(0,22):
    if(i%2==0):
        l.append(7*j)
        j+=1
    else:
        l.append(6*k)
        k+=1
print(l)
print(f"{v} at accordance {l[v-1]} ")

enter the position:12
[0, 0, 7, 6, 14, 12, 21, 18, 28, 24, 35, 30, 42, 36, 49, 42, 56, 48, 63, 54, 70, 60]
12 at accordance 30

In [37]:
j,k=0,0
v=int(input("enter the position:"))
l=[]
for i in range(0,22):
    if(i%2==0):
        l.append(2**j)
        j+=1
    else:
        l.append(3**k)
        k+=1
print(l)
print(f"{v} at accordance {l[v-1]} ")

enter the position:13
[1, 1, 2, 3, 4, 9, 8, 27, 16, 81, 32, 243, 64, 729, 128, 2187, 256, 6561, 512, 19683, 1024, 59049]
13 at accordance 64